#start{
    width: 100px;
    background-color: #000000;
    color:white;
    font-size: bold;
    text-align: center;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 20px;
    margin-top: 200px;
    cursor: pointer;
}

#start:hover{
    color:#000000;
    background-color: #6a6a6a;
    transition: 0.1s linear;
}

table, th, td {
    border:1px solid black;
  }

.TravelText{
    font-size: 100px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.RandEvent{
    width: 300px;
    margin-top: 100px;
}